spacy~=3.6.1
python-telegram-bot==13.7
python-dotenv==1.0.0
telegram==0.0.1

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl


